.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;

  .appHeader {
    width: 76vw;
    height: 8vh;
    position: absolute;
    margin-left: 22vw;
    margin-top: 1vh;
    background-color: #282a30;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
  }
  .appTeste{
    text-align: left;
  }

  .appRow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 25vw;
    margin-top: 10vh;
    width: 70vw;
    height: 85vh;
    overflow: auto;
    background-color: #282a30;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
  }
  .appMainDiv{
  
  color:red;
  text-align: center;
  background-color: #282a30;
  width: 30vw;
  height: 30vh;
  margin-left: 5%;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .appChart{
    width: 24vw;
    
  }
}
.side{
  
text-align: left;
background-color: #282a30;
width: 20vw;
height: 100vh;
position: absolute;
margin-top: -0vh;

box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
h1{
    text-align: center;
}
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(130, 5, 208);
  border-radius: 20px;
  border: 0px solid rgb(0, 0, 0); 
}